body
{ 
	width: 80%; 
	height: 1000%;
	margin-left: 10%;
	margin-right: 10%;
}

.uno, .dos, .tres
{
	float: left;  
	padding: 0;
	 
}

.big
{
	font-size:30px;
}
.uno
{
	width: 20%; 
	height: 500px; 
	background: #BCEFF0;
}

.tres 
{
	width: 500px; 
	height: 300px; 
	background: #BCEFF0;
	 
	border: 6px solid blue;
	border-style: dotted;
}
	
.dos, .tres
{ 
padding: 10px;
	width: 75%; 
}

h1
{
	text-align: center;
	color: #0A02FB;
	font-size :40px;
	background: #BCEFF0;
}

h2 
{
	color: #1A2FE8;
	font-family: 'Baloo Thambi', cursive;
}
#colum  li
{
	float:left;
	color: black;
	width: 30%;
	margin: 10px;
}